body {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    background-color: #000;
    margin: 0;
}
#container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
canvas {
    margin: auto;
}

.clear {
    clear: both;
    margin-bottom: 2em;
}

.menu {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #555 #555 #333 #333;
    border-radius: 5px;
    background-color: #444;
    padding: 0.5em;
    font-size: 1em;
}

.buttonRow {
    list-style-type: none;
    margin: 0;
    display: block;
    float: left;
    clear: left;
    padding: 0;
}

.buttonRow li {
    display: block;
    float: left;
}

.buttonRow a {
    text-decoration: none;
}

.menu button, .menu a {
    font-family: Arial, Helvetica, sans-serif;
    color: #F4F4F4;
    background-color: transparent;
    font-size: 1em;
    line-height: 1.2em;
    padding: 0.25em 0.5em;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    display: block;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    margin: 0 0.25em 0 0.25em;
    -moz-appearance: none;
    -moz-user-select: none;
    overflow-wrap: break-word;
}

.menu a img {
    vertical-align: middle;
    height: 1.5em;
}

#btnPause, #btnExitFullScreen {
    display: none;
}

#btnPause img {
    margin-top: 0.25em;
}

.rulesRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5em;
}

.rulesRow li:first-child {
    margin-left: 1em;
}
.rulesRow li:not(:first-child) {
    margin-left: 0.25em;
}

#rule {
    width: 3em;
}

#btnGo {
    border-radius: 5px;
    font-size: 0.9em;
}

#languageMenu h2 {
    display: inline;
    font-size: 1.2em;
}

#languageMenu img {
    width: 1.1em;
    height: 1.1em;
    margin-right: 0.5em;
    padding-bottom: 0.25em;
}

#languageMenu ul {
    list-style: none inside;
    padding: 0 0 0 1.75em;
    margin-top: 0.5em;
}

#languageMenu a {
     text-align: left;
 }

#languageMenu li a:hover {
    text-decoration: underline;
}