body {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    background-color: #000;
    margin: 0;
}
#container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
canvas {
    margin: auto;
}
.menu {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #555 #555 #333 #333;
    border-radius: 5px;
    background-color: #444;
    padding: 0.5em;
}